<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title></title>
  </head>	
  <script>
    //var button = document.getElementById("post_button");
    //button.addEventListener('click', redirect);

    //function redirect(){

    //}
  </script>
  <body>
    <a href="/" id="main-title">
      Admin Console
    </a>
  	<hr>
    <form action="/NewClass">
    <input type="submit" id="post-button" value="Add a New Class">
    <br />
    <br />
    <p>A for Effort</p>
    </form>

  	  <div id="content">
  	  	{% block content %}
        {% endblock %}
  	  </div>

  </body>
</html>